@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {
  .icon {
    @apply text-2xl leading-none;
  }

  .animate-flip {
    animation: flip 1s 1;
  }
}

@keyframes flip {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
